@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100%;
    height: 100%;
}

.context {
    z-index: 5;
    width: 100%;
    position: absolute;
    top:0%;

}
    .context h1{
        text-align: center;
        color:   #abebc6 ;
        font-size: 150px;
        text-shadow: 1px 1px 2px red, 0 0 1em  #85c1e9 , 0 0 0.2em  #e5e7e9 ;
        margin-bottom: 10%;

        /*IF YOU WANT CHANGE THE FONTS*/
        /*font-family: 'Roboto', sans-serif;*/
        /*font-family: 'Montserrat', sans-serif;*/
        font-family: 'Quicksand', sans-serif;
        /*font-family: 'Tajawal', sans-serif;*/
        /*font-family: 'Nanum Gothic Coding', monospace;*/
    }
    .h1-span{
        font-size: 120px;

        /*IF YOU WANT CHANGE THE FONTS*/
        /*font-family: 'Dancing Script', cursive;*/
        font-family: 'Pacifico', cursive;
        /*font-family: 'Caveat', cursive;*/
        /*font-family: 'Damion', cursive;*/
    }
    .context h4,h3{
        color:  #eaeded;
        text-align: center;
        text-decoration: underline  #d4efdf;

    }
    .context p{
        color: #FFFFFF;
        text-align: center;
        font-size: 1.7em;
    }
    ul.icons{
        list-style: none;
        text-align: center;
        margin-top: 15%;
    }
        ul.icons li{
            display: inline;
            color: #FFFFFF;
        }
.icon{
    width: 30%!important;
    height: 30% !important;
}


/*.border-bottom{*/
/*    border-bottom: 4px dashed #FFFFFF;*/
/*    margin-bottom: 5%;*/
/*}*/



/*AREA BACKGROUND ANIMATION*/

.area{
    z-index: -5;
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height:100vh;


}

.circles{
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}