{% extends 'layout.html.twig' %}

{% block body %}
        <h1>Ajout d'un étage</h1>

        <div class="container center">
            {{ form_start(form) }}
                {{ form_widget(form.levelName, {'attr': {'class': 'input-text-color'}} ) }}
                <input type="submit" value="Enregistrer" class="submit" />
            {{ form_end(form) }}

            <ul class="center">
                <li>
                    <a href="{{ path('level_index') }}"><h5>retour à la liste</h5></a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}