{% extends 'base.html.twig' %}

{% block header %}
     <div class="context">

{{ render(controller('AppBundle:Carousel:RederingCarousel')) }}

        <div class="row">
            <h1>Espace <span class="h1-span">Gambetta</span></h1>
        </div>
{#     </div>#}
{% endblock%}

{% block footer %}
    {#CSS Animation#}
    <div class="area" >
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div >
{% endblock %}