<div class="slider">
    <ul class="slides">
        {% for carousel in carousels %}
        <li>
            {% if carousel.media.link is defined %}
            <img src="{{ asset(carousel.media.link) }}" alt="{{ carousel.media.mediaName }}" class="img-carousel">
            {% endif %}
            <div class="caption center-align">
                <h3>{{ carousel.text }}</h3>
                <h5 class="light grey-text text-lighten-3">{{ carousel.text }}</h5>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>