{% extends 'layout.html.twig' %}

{% block body %}
        <h1>Liste des directions</h1>

        <div class="container">

            <ul class="center">
                <li>
                    <a href="{{ path('side_new') }}"><h3>Ajouter une direction</h3></a>
                </li>
            </ul>

            <table class="table-text-color">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Direction</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for side in sides %}
                    <tr>
                        <td>{{ side.id }}</td>
                        <td>{{ side.sideName }}</td>
                        <td class="">
                            <ul>
                                <li>
                                    <a href="{{ path('side_edit', { 'id': side.id }) }}">Modifier</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
